[submodule ".registry"]
	path = .registry
	url = https://github.com/sbaldasty/sbaldasty.r-universe.dev
	branch = HEAD
[submodule "agentdagwood"]
	path = agentdagwood
	url = https://github.com/sbaldasty/agent-dagwood
	branch = v1
